version: '3.8'

services:
  # 1. Banco de Dados (Substitui o Neon/Render)
  # db:
  #   image: postgres:15-alpine
  #   container_name: academia_db
  #   restart: always
  #   environment:
  #     POSTGRES_USER: user_academia
  #     POSTGRES_PASSWORD: ${DB_PASSWORD}
  #     POSTGRES_DB: fightclube_db
  #   volumes:
  #     - postgres_data:/var/lib/postgresql/data
  #   networks:
  #     - academia_net
  #   healthcheck:
  #     test: ["CMD-SHELL", "pg_isready -U user_academia -d fightclube_db"]
  #     interval: 10s
  #     timeout: 5s
  #     retries: 5

  # 2. Backend API (FastAPI)
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend_fightclube
    restart: always
    # --- CORREÇÃO AQUI: Mudado para lista simples ---
    depends_on:
      - db
    # ------------------------------------------------
    ports:
      - "8005:8005"
    environment:
      # Conexão interna com o banco de dados
      DATABASE_URL: postgresql://neondb_owner:npg_r2vZzG3kWPBs@ep-lingering-bird-acyhtv6b-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
      #postgresql://user_academia:${DB_PASSWORD}@db:5432/fightclube_db
      
      # Variáveis da Aplicação
      SECRET_KEY: ${SECRET_KEY}
      
      # URLs do Sistema
      BACKEND_URL: ${BACKEND_URL}
      FRONTEND_URL: ${FRONTEND_URL}
      FRONTEND_PWA_URL: ${FRONTEND_PWA_URL}
      
      # Cloudflare R2
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      S3_BUCKET_NAME: ${S3_BUCKET_NAME}
      S3_ENDPOINT_URL: ${S3_ENDPOINT_URL}
      PUBLIC_BUCKET_URL: ${PUBLIC_BUCKET_URL}
      
      # Google Login
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      
      # Pagamentos
      PAYMENT_PROVIDER: ${PAYMENT_PROVIDER}
      MP_ACCESS_TOKEN: ${MP_ACCESS_TOKEN}
      MP_WEBHOOK_SECRET: ${MP_WEBHOOK_SECRET}
      STRIPE_PUBLIC_KEY: ${STRIPE_PUBLIC_KEY}
      STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}
      STRIPE_WEBHOOK_SECRET: ${STRIPE_WEBHOOK_SECRET}
    networks:
      - academia_net

  # 3. Frontend Painel (Flask)
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: academia_frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "5700:5700"
    environment:
      SECRET_KEY: ${SECRET_KEY}
      API_BASE_URL: ${BACKEND_URL}
    networks:
      - academia_net

volumes:
  postgres_data:

networks:
  academia_net:
    driver: bridge